* {
	border-radius: 0 !important;
}

html,body{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:#2d3c49;
	max-width:100%;
}
/* some media queries to resize the logo and title when the page is resized */
@media screen and (min-width:550px) {
	body {
		margin-left:100px;
		margin-right:100px;
	}
}

h1 {
	margin-top:0px;
	font-weight:100;
}

hr{
	height:3px;
	border:none;
	color:#7d97ad;
	background-color:#7d97ad;
}

h2 {
	color:red;
}

h3 {
	color:#7d97ad;
}

.container {
	padding-top:60px;
	max-width:100%;
}

.logo, .header {
	padding:0px;
}

.hero {
	max-width:100%;
}

.carousel-inner {
	margin:auto;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
	background-image: none
}

.brand {
	padding-left:5px;
	max-height:80px;
}

.navbar-default {
}

.navbar {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

/* make the navbar transparent when scrolled */
.navbar.scrolled {
	background: rgba(0, 0, 0, 0.3);
}

.navbar-nav.scrolled {
	background: rgba(0, 0, 0, 0.3);
}

.nav.navbar-nav.scrolled li.active a { background-color: rgba(0, 0, 0, 0.2); }
.nav.navbar-nav.scrolled li.active a:hover { background-color: rgba(0, 0, 0, 0.2); color:white; }
.nav.navbar-nav.scrolled li a { color: white; }
.nav.navbar-nav.scrolled li a:hover { background-color: rgba(0, 0, 0, 0.2); }

.title-super {
	font-size:40px;
}

.title-logo {
	margin-top:40px;
}

.modal {
	border-radius:0px;
}

#movieModal {
	display:none;
}

#portfolioModal {
	display:none;
}

.featured {
	height:250px; 
	max-width:250px;
}

.featured:hover {
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.featured_link {
	text-decoration:none;
}

.featured_link:hover {
	color:#02b3e4;
}

@media screen and (max-width:450px) {
	.title-super {
		font-size: 20px;
	}
	.brand {
		margin-left:10px;
		max-width:50px;
	}
}
@media screen and (max-width:550px) {
	.brand {
		margin-left:10px;
	}
}